POSTGRES_PASSWORD=5555
REDIS_PASSWORD=redis123
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
INSTANCE_ID_1=instance-1
INSTANCE_ID_2=instance-2
INSTANCE_ID_3=instance-3
LOG_LEVEL=DEBUG
CHAT_MEDIA_PROVIDER=MINIO
CHAT_MEDIA_MAX_IMAGE_COUNT=50
CHAT_MEDIA_RETENTION_DAYS=60
CHAT_MEDIA_MULTIPART_THRESHOLD_BYTES=5242880
CHAT_MEDIA_MAX_SIZE_IMAGE_BYTES=10485760
CHAT_MEDIA_MAX_SIZE_AUDIO_BYTES=52428800
CHAT_MEDIA_MAX_SIZE_VIDEO_BYTES=209715200
CHAT_MEDIA_MAX_SIZE_FILE_BYTES=20971520
CHAT_MEDIA_MINIO_ENDPOINT=http://localhost:9000
CHAT_MEDIA_MINIO_ACCESS_KEY=minioadmin
CHAT_MEDIA_MINIO_SECRET_KEY=minioadmin
CHAT_MEDIA_MINIO_BUCKET=chat-media
CHAT_MEDIA_MINIO_REGION=us-east-1
CHAT_MEDIA_MINIO_PATH_STYLE_ACCESS=true
CHAT_MEDIA_S3_BUCKET=chat-media
CHAT_MEDIA_S3_REGION=ap-southeast-1
CHAT_MEDIA_S3_ENDPOINT=
CHAT_MEDIA_S3_PATH_STYLE_ACCESS=false